/*Estilos ventana introducción*/
.intro {
  /*background-color: rgba(255,0,0,.5);*/
  background-image: url(./images/bg_intro.png);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  color: #fff;
  justify-content: center;
  text-align: center;
}

.intro-text {
  font-size: 1.5vw;
  margin-bottom: 5%;
  padding: 0 15%;
  word-break: breal-word;
}

.intro-btn {
  font-size: 2vw;
  background: linear-gradient(180deg, #cf601a 10%, #e92f06 90%);
  padding: .5em 1em;
  cursor: pointer;
  border-radius: .5em;
}

/*Estilos de instrucciones como pestaña*/
:root {
    /*--tabs-border-color: #ABCDEF;*/
    --tabs-border-size: 3px;
    --tabs-text-color: white;
    /*--tabs-dark-color: #012345;
    --tabs-lite-color: #345678;
    --tabs-width: 120px;
    --tabs-height: 40px;*/
    --tabs-border-color: #529ed8;
    --tabs-lite-color: #026ec3;
}

h2, p {
    margin: 0;
} 

a {
    color: inherit;
    text-decoration: none;
}

.custom-instructions * {
    box-sizing: border-box;
}

.custom-instructions {
  position: absolute;
  width: 100%;
}

.tab-container {
    position: relative;
} 

.tab>a {
    display: flex;
    align-items: center;
    justify-content: center;
    /*text-align: center;*/
    position: absolute;
    /*width: calc(var(--tabs-width));*/
    /*height: calc(var(--tabs-height) + var(--tabs-border-size));*/
    left: 10px; /* posición de cada pestaña */
    width: 12vw;
    height: 40px;
    font-size: 1.5vw;
    /*background-color: var(--tabs-dark-color);*/
    background: linear-gradient(180deg, #cf601a 10%, #e92f06 90%);
    /*padding: 10px;*/
    /*padding: 0.5em 0;*/
    border: var(--tabs-border-size) solid var(--tabs-border-color);
    border-radius: 0 0 10px 10px;
    border-top: 0;
}

.custom-instructions { 
    padding: 0;
    color: var(--tabs-text-color);
}

.instructions-text{
    word-break: break-word;
    padding: 15px 0;
    font-size: 1.5vw;
}

.tab-content {
    background-color: var(--tabs-lite-color); 
    padding: 10px 20px;
    border: var(--tabs-border-size) solid var(--tabs-border-color);
    /*border-radius: 0 0 10px 0;*/
    border-radius: 0;
    position: relative;
    z-index: 100;
    /*display: grid;
    grid-template-columns: 11fr 1fr;*/
}

.tab:target>a, .tab:last-of-type>a {
    background-color: var(--tabs-lite-color); 
    z-index: 200;
}
  
.tab:target ~ .tab:last-of-type>a {
    background-color: var(--tabs-dark-color); 
    z-index: 0; 
}

@media (max-height: 600px) {
    .tab > a {
        height: 30px;
        left: 8px; /* posición de cada pestaña */
    }
}

@media (max-height: 450px) {
    .tab > a {
        font-size: 1.2vw;
        height: 25px;
        left: 5px; /* posición de cada pestaña */
    }
}

@media (max-height: 300px) {
    .tab > a {
        font-size: 1.2vw;
        height: 20px;
    }
}

/*Lista*/
.unordered-list {
    text-align: left;
}