/*Estilos ventana introducción*/
.intro {
  /*background-color: rgba(255,0,0,.5);*/
  background-image: url(../assets/images/bg_intro.png);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  color: #fff;
  justify-content: center;
  text-align: center;
}

.intro-text {
  font-size: 1.5vw;
  margin-bottom: 5%;
  padding: 0 15%;
  word-break: breal-word;
}

.intro-btn {
  font-size: 2vw;
  background: linear-gradient(180deg, #cf601a 10%, #e92f06 90%);
  padding: .5em 1em;
  cursor: pointer;
  border-radius: .5em;
}

/*Estilos de instrucciones como pestaña*/
:root {
    /*--tabs-border-color: #ABCDEF;*/
    --tabs-border-size: 3px;
    --tabs-text-color: white;
    /*--tabs-dark-color: #012345;
    --tabs-lite-color: #345678;
    --tabs-width: 120px;
    --tabs-height: 40px;*/
    --tabs-border-color: #529ed8;
    --tabs-lite-color: #026ec3;
}

h2, p {
    margin: 0;
} 

a {
    color: inherit;
    text-decoration: none;
}

.custom-instructions * {
    box-sizing: border-box;
}

.custom-instructions {
  position: absolute;
  width: 100%;
}

.tab-container {
    position: relative;
} 

.tab>a {
    text-align: center;
    position: absolute;
    /*width: calc(var(--tabs-width));*/
    /*height: calc(var(--tabs-height) + var(--tabs-border-size));*/
    left: calc(var(--tabs-width) * var(--tabs-position)); /* posición de cada pestaña */
    width: 12vw;
    height: 40px;
    font-size: 1.5vw;
    background-color: var(--tabs-dark-color); 
    /*padding: 10px;*/
    padding: 0.5em 0;
    border: var(--tabs-border-size) solid var(--tabs-border-color);
    border-radius: 0 0 10px 10px;
    border-top: 0;
}

.custom-instructions { 
    padding: 0;
    color: var(--tabs-text-color);
}

.instructions-text{
    word-break: break-word;
    padding: 15px 0;
    font-size: 1.5vw;
}

.tab-content {
    background-color: var(--tabs-lite-color); 
    padding: 10px 20px;
    border: var(--tabs-border-size) solid var(--tabs-border-color);
    border-radius: 0 0 10px 0;
    position: relative;
    z-index: 100;
    /*display: grid;
    grid-template-columns: 11fr 1fr;*/
}

.tab:target>a, .tab:last-of-type>a {
    background-color: var(--tabs-lite-color); 
    z-index: 200;
}
  
.tab:target ~ .tab:last-of-type>a {
    background-color: var(--tabs-dark-color); 
    z-index: 0; 
}

/*Estilos Nuevos Selects*/
/* CSS */
.h5p-advanced-blanks {
  .h5p-input-wrapper {
    vertical-align: bottom;
  }

  .original-select {
    display: none; /* Oculta el select nativo */
  }

  /* Estilos de la caja visible del select personalizado */
  .custom-select-display {
    padding: 0.1875em 0.5em 0.1875em 0.5em;
    border-radius: 1em;
    background: linear-gradient(180deg, #fff841 0%, #fbd347 90%);
    cursor: pointer;
    width: 12em;
    /*max-width: calc(100vw - 36px);*/
    height: 1.3em;
    margin: 0 !important;
    font-size: 14px;
    display: flex;
  }

  .custom-select-display.option-selected {
    background: linear-gradient(to bottom, #5166ad, #062971);
    color: #fff;
  }

  .custom-select-icon {
  }

  .correct .custom-select-display .custom-select-icon,
  .error .custom-select-display .custom-select-icon {
    /*display: none;*/
    visibility: hidden;
  }

  .correct .custom-select-display {
    background: linear-gradient(180deg, #8bae54 0%, #456f06 90%);
    color: #fff;
  }

  .error .custom-select-display {
    background: linear-gradient(180deg, #870202 0%, #3c0505 90%);
    color: #fff;
  }

  .correct .h5p-input-wrapper:after,
  .error .h5p-input-wrapper:after {
    color: #fff !important;
  }

  .custom-select-text {
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .custom-select-text,
  .custom-select-icon {
    line-height: 1.3em !important;
  }

  /* Estilos del menú desplegable personalizado (el UL) */
  .custom-options {
    list-style: none;
    padding: 0;
    margin: 5px 0 0 0;
    border: 2px solid #fff841;
    border-radius: 10px;
    background-color: #fff;
    position: absolute; /* Para que aparezca sobre otros elementos */
    width: 100%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    z-index: 1000;
  }

  .custom-options.hidden {
    display: none;
  }

  /* Estilos para cada opción (el LI) */
  .custom-options li {
    padding: 2px 15px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    background-color: #fff; /* Color de fondo de la opción */
    color: #062971; /* Color de texto de la opción */
  }

  .custom-options > li:first-child {
      border-radius: 10px 10px 0 0;
      padding: 14px 0;
  }

  .custom-options li:last-child {
      border-radius: 0 0 10px 10px;
  }

  .custom-options li:hover {
    background-color: #c1fbfd; /* Color al pasar el ratón por la opción */
    color: #062971;
  }

  .custom-options li.selected {
    background-color: #062971;
    color: #fff;
  }
}