@CHARSET "UTF-8";

/* Styling of button */
.h5peditor .ui-dialog .h5p-joubelui-button,
.h5peditor .h5p-joubelui-button,
.h5p-joubelui-button {
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0.5em 1em;
  padding: 0.5em 1.25em;
  border-radius: 2em;

  /*background: #1a73d9;*/
  background: #026ec3; /*nuevo*/
  color: #ffffff;

  cursor: pointer;
  /*border: none;*/
  border: 3px solid #026ec3; /*nuevo*/
  box-shadow: none;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);

  display: inline-block;
  text-align: center;
  text-shadow: none;
  text-decoration: none;
  vertical-align: baseline;
}
.h5p-joubelui-button:first-child {
  margin: 0 0.5em 1em 0;
}

.h5p-joubelui-button:last-child {
  margin: 0 0 1em 0.5em;
}

.h5p-joubelui-button:first-child:last-child {
  margin: 0 0 1em;
}

/* Truncated buttons */
.h5p-joubelui-button.truncated {
  width: 2.235em;
  height: 2.235em;
  border-radius: 50%;
  padding: 0;
  text-align: center;
}

.h5p-joubelui-button.truncated:before {
  padding: 0;
}
 /*nuevo*/
.h5p-joubelui-button:hover {
  background: #c9621b;
  color: #fff;
  text-decoration: none;
  -webkit-transition: initial;
  -moz-transition: initial;
  -o-transition: initial;
  transition: initial;
}

/*.h5p-joubelui-button:hover {
  background: #c9621b;
  color: #fff;
  text-decoration: none;
  -webkit-transition: initial;
  -moz-transition: initial;
  -o-transition: initial;
  transition: initial;
}*/
.h5p-joubelui-button:active {
  position: relative;
  background: #104888;

  -webkit-box-shadow: inset 0 4px 0 #0e407a;
  -moz-box-shadow: inset 0 4px 0 #0e407a;
  box-shadow: inset 0 4px 0 #0e407a;
}
.h5p-joubelui-button:active .h5p-joubelui-button-text {
  position: relative;
  top: 2px;
}

.h5p-joubelui-button:before {
  font-family: 'H5PFontAwesome4';
  padding-right: 0.5em;
}

.h5p-question-try-again:before {
  content: "\F01E";
}

.h5p-question-show-solution:before {
  content: "\F06E";
}

.h5p-question-check-answer:before {
  content: "\F058";
}

/* Remove outline for all elements having tabIndex="-1"*/
.h5p-content [tabIndex="-1"] {
  outline: none;
}

/*////////////////////////////////////*/

/* Responsividad para botones H5P.Question */
@media (max-width: 768px) {
  .h5p-question-buttons .h5p-joubelui-button {
    font-size: 0.9em;
    padding: 0.45em 1.1em;
  }
}

@media (max-width: 480px) {
  .h5p-question-buttons .h5p-joubelui-button {
    font-size: 0.8em;
    padding: 0.4em 1em;
    margin: 0 0.3em 0.8em 0;
  }
  
  .h5p-question-buttons {
    width: calc(100% - 1em) !important;
    margin-left: 0.5em !important;
    margin-right: 0.5em !important;
  }
}

@media (max-width: 320px) {
  .h5p-question-buttons .h5p-joubelui-button {
    font-size: 0.75em;
    padding: 0.35em 0.9em;
    margin: 0 0.2em 0.7em 0;
  }
}